<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.QLDSV_TCConnectionString"
            connectionString="Data Source=DESKTOP-0PQ4U60\SERVER01;Initial Catalog=QLDSV_TC;Persist Security Info=True;User ID=sa;Password=02092002Aa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>